.sobre-mi-contenedor {
    display: flex;
    margin-left: 22vw;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    padding: 20px; 
    background-color: #f9f9f9;
  }
  
  .foto-perfil {
    width: 300px; 
    height: auto; 
    border-radius: 50%; 
    margin-bottom: 20px;
  }
  
  .bio {
    text-align: center; 
    max-width: 50vw;
    line-height: 1.6;
    font-size: 1.3vw;
  }
  
  .bio h2 {
    color: black; 
    margin-bottom: 10px; 
  }
  
  .bio p {
    color: black;
  }