@font-face {
    font-family: 'Planet';
    src: url('./assets/font/SophiaFrancesca.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;   
}

@font-face {
    font-family: 'Comfortaa';
    src: url('./assets/font/Comfortaa-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}

.contenedor {
    margin-left: 22vw;
    padding: 20px;   
    height: 100vh;   
    background-color: #f0f0f0; 
    overflow-y: auto; 
}

img{
    width: 100%;
}

.row{
    display: flex;
}
